/* TYPOGRAPHY */
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('../fonts/sofiapro_light_macroman/SofiaProLight-webfont.eot');
  src: url('../fonts/sofiapro_light_macroman/SofiaProLight-webfont.woff2') format('woff2'),
       url('../fonts/sofiapro_light_macroman/SofiaProLight-webfont.woff') format('woff'),
       url('../fonts/sofiapro_light_macroman/SofiaProLight-webfont.ttf') format('truetype');
}
@import url('//fonts.googleapis.com/css?family=Lato:400,700');
@import url('//fonts.googleapis.com/css?family=Quicksand:300,400');

body {
	font-family: Lato, sans-serif;
}

h1 {
	font-family: 'Sofia Pro Light', Quicksand, sans-serif;
	font-size: 1.88em;  /* 30px */
	font-weight: normal;
	color: #000;
}

fieldset legend {
	font-family: 'Sofia Pro Light', Quicksand, sans-serif;
	font-size: 1.5em;  /* 24px */
	font-weight: normal;
	color: #AAA;
}

fieldset fieldset legend {
	font-family: Lato, sans-serif;
  font-size: 0.85em;  /* 16px */
  color: #000;
}

label {
  font-size: 0.85em;  /* 16px */
}

input[type="radio"] + label {
	font-size: 1em; /* 18px */
}

select {
	font-family: Lato, sans-serif;
	font-size: 1em;  /* 18px */
}

.pagination {
  font-size: 1.25em;  /* 20px */
  color: #AAA;
}

small {
  font-size: 0.5em;  /* 12px */
  line-height: 0.5;
}

input[type="submit"] {
	font-size: 1.5em;  /* 24px */
	color: #FFF;
}

a {
  text-decoration: none;
  color: #000;
}

nav li a {
 font-size: 0.85em;  /* about 16px in Chrome?? */
 color: #555;
}



/* LAYOUT */
body {
  background-color: #EBEBEB;
 
}

h1 {
	text-align: center;
}

.center_wrap {
  width: 90%;
  min-width: 630px;
  max-width: 1010px; 
  margin: 0 auto;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  
  
}

.content_wrap {
	width: 100%;
	padding-top: 55px;
	/*border-left: 2px solid #FFF;
	border-right: 2px solid #FFF;*/
}

form {
	width: 80%;
	min-width: 550px;
	max-width: 850px;
	margin: 0 auto;	
	padding: 0 1em;
	position: relative;
	border: none;
}

.row {
	width: 100%;
	margin-bottom: 10px;
	
	/*background: lavender;*/
}

.col-1 {
	width: 100%;
	padding: 0 4%;
	box-sizing: border-box;
	vertical-align: top;
	/*text-align: center;*/
	
	/*background: purple;*/
}

.col-2 {
	display: inline-block;
	width: 50%;
	margin-left: -1.5px;   /*  make up for extra space between inline-block elems */
	margin-right: -1.5px;
	padding: 0 4%;
	box-sizing: border-box;
	vertical-align: top;
	
	/*background: purple;*/
}

fieldset {
	margin: 50px 0 0;
	padding: 0 0 20px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px dotted #F16404;
}

fieldset:last-of-type {
	border-bottom: none;
}

fieldset fieldset {
	margin: 0;
	border: none;
}

fieldset header {
	width: 100%;
	height: 35px;
	position: relative;
	margin: 0 0 20px;
	
	/*background: lavender;*/
}

fieldset header legend {
	width: fit-content;
	position: absolute;
	left:0;
	margin: 0;
	padding: 0;
	
	/*background: #BBB;*/
}

header .pagination {
  position: absolute;
  right: 0; 
  
  /*background: #BBB;*/
}

label {
	display: block;
	text-align: left;
	padding-left: 2.5%;
	margin-bottom: 10px;
	
	/*background: #FFF;*/
}

fieldset fieldset legend {
  margin-bottom: 10px;
}

input {
	width: 100%;
	height: 50px;
	border: 1px solid #1575E7;
	margin: 0 0 10px;
	padding: 0;
	box-sizing: border-box;
}

input[placeholder="First"], input[placeholder="Last"] {
	width: 45%;
	float: left;
}

input[placeholder="M.I."] {
	width: 10%;
	float: left;
}

input[type="submit"] {
  width: fit-content;
  /* center Submit button */
	position: relative;
	left: 50%;
	margin: 30px 0 20px -65px;  /* 65px is approx. half width of button */
  background-color: #1575E7;
  padding: 10px 25px 15px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;

}

#curr_employer {
	width: 85%;
	float: left;
	
	background: #CCC;
}

#employer_since {
	width: 15%;
	float: left;
}

/*#no_co, #co_spouse, #co_other {
	width: 5%;
	height: 24px;
	float: left;
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}*/

input[type=radio] {
	/* get rid of default radio buttons */
	position: absolute;  
	left: -1000em; 
}

:root input[type=radio] + label:before {
	/* faux radio buttons */
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
	vertical-align: bottom;
	background-color: #1575E5;
	
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .5);
}

:root input[type=radio]:checked + label:before {
	background-color: #F423E3;
}

:root input[type=radio]:focus + label:before {
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .5), 0 0 3px 1px #227755;
}

input[type=radio] + label {
	float: left;
	width: 30%;
	margin: 0 5% 0 0;
	padding: 0;
}

input[type=radio] + label:last-of-type {
	margin: 0;
}

select {
	color: #FFF;
	background-color: #03CB69;
	
  padding: 15px 25px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
}


.select {
	position: relative;
	display: inline-block;
	padding: 15px 45px 15px 25px;
	
	-webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
	
	font-size: 1em;  /* 18px */
	color: #FFF;
	
	background-color: #03CB69;
	background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0) 75%, #1575E3 75%, #1575E3 );
}

.select.active, 
.select:focus {
	outline: none;
	box-shadow: 0 0 3px 1px #227755;
}

.select .opt_list {
	position: absolute;
	top: 100%;
	left: 0;
	
	font-size: 1em;
	color: #000;
	
	background: #FFF;
}

.select .opt_list.hidden {
	/* Hide list while maintaining accessibility */
	max-height: 0;
	visibility: hidden;
}

.select .value {
	display: inline-block;
	width: 100%;
	overflow: hidden;  /* in case selected value is wider than .select container */
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}


/* Nav */
nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0; left: 0;
  margin: 0; 
  padding: 0;
  z-index: 10;
  background-color: #D6D6D6;
  border-bottom: 2px solid #FFF;
}

nav img {
  width: 150px;
  display: inline-block;
  margin-top: 12px;
}

nav ul {
  list-style: none;
  display: inline-block;
  margin: 10px 0;
  padding: 0;
  position: absolute;
  top: 0; bottom: 0; right: 0;
  height: fit-content;
}

nav ul li {
  display: inline-block;
  margin-left: 50px;
}  

#menu_icon {
  width: 30px;
  height: 30px;
  display: none;
  background: url("../img/menu_icon.png") no-repeat;
  background-size: contain;
}


